.wrapper {
    width:375px;
    height: auto;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin: auto;
    min-height:100vh;
}
.wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}